<h2 class="text-center mb-4">おもちゃ一覧</h2>
<% if logged_in? %>
  <div class="text-center">
    <%= link_to '新しいおもちゃを登録', new_toy_path, class: 'btn btn-outline-secondary btn-sm mb-5' %>
  </div>
<% end %>

<div class="row justify-content-center">
  <% if @toys.present? %>
    <% @toys.each do |toy| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= toy.name %></h5>
            <p class="card-text"><%= truncate(toy.description, length: 100) %></p>
            <p class="card-text"><strong>価格:</strong> ¥<%= number_with_delimiter(toy.price.to_i) %></p>
            <%= link_to "詳細を見る", toy_path(toy), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <h5>おもちゃがありません。寂しいですね〜。</h5>
    </div>
  <% end %>
</div>
